{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="login-box">

    <div class="logo">
        <img src="{% static 'logo.jpg' %}" alt="Logo da empresa" width="240" height="160">
    </div>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">
            Entrar
        </button>

    </form>

</div>

</body>

</html>